
.tagList{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.profile {
    display: flex;
    margin-top: 15px;
    padding-left: 40px;
    padding-top: 80px;
}

.profile img {
    width: 203px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.userStatsContainer{
    margin-left: 40px;
}

.lblProfileStats{
    color: #EB2C44;
}

.spanStats{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.user-info {
    font-weight: 400;
    font-size: 40px;
}

hr{
    border: 3px solid #EB2C44;
    border-radius: 5px;
    width: 90%;
}