*{
    font-family: 'IBM Plex Sans', sans-serif;
}
.imageContainer{
    display: flex;
    margin-top: 50px;
    width: f;
    border: 1px solid red;
    background-color: #161B21;
    align-items: center; /* Alinea el contenido verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.mediumImage{
    width:800px;
    height: 450px;
    width: auto; /* Permitir que la imagen conserve su tamaño original */
    max-width: 70%; /* Limita el ancho máximo de la imagen para que no desborde */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
}

.gameDay p {
    font-size: 15px;
    color: #ddd; /* Color de texto gris */
}

.gameDay a {
    color: #4111bb;
    
}
.textGame{
    width: 340px;
}


#btnPlayInicio{
    width: 280px;
    height: 50px;
    background-color: #EB2C44;
    color: white;
    font-size: 25px;

    border: none;
    border-radius: 5px;
    text-align: center;

}

#btnPlayNow{
    width: 300px;
    height: 40px;
    background-color:#2B3347;;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.tagContainer{
    background-color: #2B3347;
    padding: 4px 10px ;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 13px;
}
.tagSupport{
    margin-top: 20px;
    margin-bottom: 60px;
}
