@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');
*{
    
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #0D1017;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 91vh;
}

.left-column {
    width: 95vw;
    height: 550px;
}    

.left-column iframe {
    width: 100%;
    height: 550px;
    overflow-y: none;
}

.right-column {
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inGamePointsContainer h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 10px;
}

hr{
    width: 90%;
    margin-left: 10px;
    border: solid 1px #2B3137;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}

.btnManager{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB2C44;
    border: none;
    width: 45px;
    height: 40px;
    margin-right: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.btnManager:hover{
    background-color: #FF5A6E;
    cursor: pointer;
}

.btnManager:active{
    background-color: #EB2C44;
}

.btnManager img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}